name: Validation Checks
on:
  pull_request:
    branches: [main]

permissions:
  contents: read
  pull-requests: write
  checks: write

jobs:
  checks:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v4

      - uses: ./.github/actions/install-node

      - name: Install dependencies
        run: npm ci

      - name: Run Type Check
        run: npm run typescript

      - name: Run Unit Tests
        run: npm run test-ci

      - name: Run Linter
        run: npm run lint

      - name: Run Formatter
        run: npm run format

      - name: Run react-native bundle
        run: npm run test:bundle

      - name: Publish Jest Unit Test Results
        if: always()
        uses: dorny/test-reporter@v2
        with:
          name: JEST Tests
          path: .jest/junit.xml
          reporter: jest-junit

      - name: Publish code coverage from Jest tests
        if: always()
        uses: ArtiomTr/jest-coverage-report-action@v2.3.1
        with:
          coverage-file: ./coverage/coverage-final.json
          base-coverage-file: ./coverage/coverage-final.json
          skip-step: all
